nm-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border-color: #4cae4c;
    border: 1px solid transparent;
    background-color: #5cb85c;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    margin: 10px;
    transition: box-shadow .3s ease-in-out;
}
nm-button:hover {
    box-shadow: none;
}
nm-button.active {
    box-shadow: none;
}